logs/
*__pycache__*
data/
.idea/
tmp
visualize

*.svg
*.pdf
*.eps
submission/

/ssl-relation-prediction/src/src_data
/ssl-relation-prediction/src/ckpts
/ssl-relation-prediction/src/wandb

.history
dev
